
IO_LOC "tape_byte_enable" A11;
IO_LOC "phi2" A13;
IO_LOC "RESET" A14;
IO_LOC "pravetz_layout" A15;
IO_LOC "key_strobe" B11;
IO_LOC "key_pressed" B12;
IO_LOC "key_extended" B13;



IO_LOC "key_code[7]" B14;
IO_LOC "key_code[6]" G16;
IO_LOC "key_code[5]" H11;
IO_LOC "key_code[4]" H14;
IO_LOC "key_code[3]" H15;
IO_LOC "key_code[2]" H16;
IO_LOC "key_code[1]" D10;
IO_LOC "key_code[0]" C12;


IO_LOC "K7_TAPEIN" C13;
IO_LOC "K7_TAPEOUT" D11;
IO_LOC "K7_REMOTE" D14;


IO_LOC "VIDEO_CLK" E15;
IO_LOC "VIDEO_R" J15;
IO_LOC "VIDEO_G" K14;
IO_LOC "VIDEO_B" K15;
IO_LOC "VIDEO_HBLANK" K16;
IO_LOC "VIDEO_VBLANK" L14;
IO_LOC "VIDEO_HSYNC" N9;
IO_LOC "VIDEO_VSYNC" P6;
IO_LOC "VIDEO_SYNC" P7;

IO_LOC "CLK_IN" P9;



IO_LOC "phi2" R7;
IO_LOC "pll_locked" R8;


//free...

//IO_LOC "key_code[0]" R9;
//IO_LOC "oric.inst_ula.resetn_IBUF_O" P8;
//IO_LOC "ula_1.addr_IBUF_O_8" L16;
//IO_LOC "ula_1.addr_IBUF_O_9" L9;
//IO_LOC "ula_1.addr_IBUF_O_10" N14;
//IO_LOC "ula_1.addr_IBUF_O_11" N16;
//IO_LOC "ula_1.addr_IBUF_O_12" N6;
//IO_LOC "ula_1.addr_IBUF_O_13" N7;
//IO_LOC "ula_1.addr_IBUF_O_14" N8;
//IO_LOC "ula_1.addr_IBUF_O_15" N9;
//
//IO_LOC "" T10;
//IO_LOC "" T10;
//IO_LOC "" T3;
//IO_LOC "" T6;
//IO_LOC "" T7;
//IO_LOC "" T8;
