

IO_LOC  "vec_IBUF_I_3" T3;
IO_PORT "vec_IBUF_I_3" IO_TYPE=LVCMOS33;
IO_LOC  "vec_IBUF_I_2" A13;
IO_PORT "vec_IBUF_I_2" IO_TYPE=LVCMOS33;
IO_LOC  "vec_IBUF_I_1" T10;
IO_PORT "vec_IBUF_I_1" IO_TYPE=LVCMOS33;
//IO_LOC  "vec_IBUF_I_0" A11;
//IO_PORT "vec_IBUF_I_0" IO_TYPE=LVCMOS33;

// This is weird...
IO_LOC  "vec_IBUF_I" A14;
IO_PORT "vec_IBUF_I" IO_TYPE=LVCMOS33;

IO_LOC  "y" C13;
IO_PORT "y" IO_TYPE=LVCMOS33;

