
# Basic sanity test
#set_io CLK_TEST F2

set_io oric.inst_cpu.clk F2



set_io CLK_EXT J3
set_io tape_byte_enable J5
set_io phi2 C2

# button low when pressed
set_io RESET_BUT1 K11

set_io ram_cs T6
set_io ram_oe L9
set_io ram_we T7


set_io ram_ad[0] N6
set_io ram_ad[1] T1
set_io ram_ad[2] P4
set_io ram_ad[3] R2
set_io ram_ad[4] N5
set_io ram_ad[5] T2
set_io ram_ad[6] P5
set_io ram_ad[7] R3
set_io ram_ad[8] R5
set_io ram_ad[9] T3
set_io ram_ad[10] R4
set_io ram_ad[11] M7
set_io ram_ad[12] N7
set_io ram_ad[13] P6
set_io ram_ad[14] M8
set_io ram_ad[15] T5
#set_io a[16] R6
#set_io a[17] P8

set_io ram_dq[0] T8
set_io ram_dq[1] P7
set_io ram_dq[2] N9
set_io ram_dq[3] T9
set_io ram_dq[4] M9
set_io ram_dq[5] R9
set_io ram_dq[6] K9
set_io ram_dq[7] P9



set_io pravetz_layout F3
set_io key_strobe E2
set_io key_pressed E3
set_io key_extended H6
set_io key_code[7] F1
set_io key_code[6] M12
set_io key_code[5] D2
set_io key_code[4] F4
set_io key_code[3] P13
set_io key_code[2] G3
set_io key_code[1] G4
set_io key_code[0] G5
set_io K7_TAPEIN H2
set_io K7_TAPEOUT R16
set_io K7_REMOTE H4
set_io VIDEO_CLK H5
set_io VIDEO_R E4
set_io VIDEO_G B2
set_io VIDEO_B F5
set_io VIDEO_HSYNC H1
set_io VIDEO_VSYNC G1
set_io VIDEO_SYNC H3
set_io pll_locked D1


### Free below ###



